body {
    margin: 0%;
    padding: 0%;
}

header {
}

.titre {
    color: #000000;
    font-size: 28px;
    text-align: center;
    
}

.titre{
    margin-top: 20px;
}

nav{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn {
    background-color: lightslategray;
    color: white;
    border-radius: 5px;
    padding: 5px;
    
}

.container .box{
    margin: 0%;
    padding: 0%;
}

#progress {
    width: 100%;
    margin-top: 0px;
}
  
#progress_bar {
    width: 0.5%;
    height: 10px;
    margin-top: 10px;
    background-color: #4a707a;
    transition: 0.5s ease;
}

#char_count {
    text-align: end;
}
#live {
    overflow: hidden;
    width: 100%;
}